@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    @apply px-5 mx-auto flex items-center;
    max-width: 1200px;
}

.btn-rounded {
    @apply px-5 py-2 rounded-full
}

.nav {
    height: 75px;
    @apply bg-blue-200 border border-b-black w-full fixed top-0 z-10
}

.header {
    @apply bg-blue-200 border border-b-black;
    margin-top: 75px;
}

.header-bg {
    background-image: url(/section/header.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 385px 341px;
}